$breakpoints: (
        'xs': 320px,
        'sm': 576px,
        'md': 768px,
        'lg': 992px,
        'xl': 1200px,
        'xxl': 1500px,
        'xxxl': 1600px,
);
$media-expressions: (
        'screen': 'screen',
        'print': 'print',
        'handheld': 'handheld',
        'retina2x': (
                '(-webkit-min-device-pixel-ratio: 2)',
                '(min-resolution: 192dpi)',
        ),
        'retina3x': (
                '(-webkit-min-device-pixel-ratio: 3)',
                '(min-resolution: 350dpi)',
        ),
);
$unit-intervals: (
        'px': 1,
        'em': 0.01,
        'rem': 0.1,
);
